<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
	{include file="public:top" /}
	<link href="__STATIC__/libs/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="__STATIC__/home/css/index.css" />
	<link rel="stylesheet" type="text/css" href="__STATIC__/home/css/buy.css" />
	<link rel="stylesheet" type="text/css" href="__STATIC__/home/css/index_information.css" />
</head>
<body>
	
	<div class="content" style="margin-top: 130px;">
		<div style="width: 700px; margin: 20px auto;"><img src="__STATIC__/home/img/zhuce01.png" alt="" width="100%"></div>
		<div  style="width: 700px; margin: 20px auto;"><img src="__STATIC__/home/img/zhuce02.png" alt="" width="100%"></div>
	</div>

	{include file="public:PcPublicFoot" /}
			{include file="public:footer" /}
</body>
</html>