<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection"content="telephone=no, email=no" />
	<link href="./public/stock/css/reset.css" rel="stylesheet" type="text/css">
    <link href="./public/stock/css/swiper-3.3.1.min.css" rel="stylesheet" type="text/css">
    <link href="./public/stock/css/style.css" rel="stylesheet" type="text/css">
    <script src="./public/stock/js/sizes.js" type="text/javascript"></script>
    <title>盈股在线配资</title>
</head>
<body>
<header class="tac co1 index_head ">
    <a href="#" class="jhd-lf"><i class="idx_icon1"></i></a>
    <div class="jhd-ct">盈股在线配资</div>
    <a href="#" class="jhd-rt j-more"><i class="idx_icon2"></i></a>
</header>
<div class="wapper">
    <ul class="tab">
    	<li class="t_btn">按天配资</li>
    	<li>按月配资</li>
    </ul>
    <div class="content">
    	<div class="con_one dis">
    		<div class="con_list">
    			<p>风险保险金</p>
    		    <p><input type="text" placeholder="最少2百，最多500万，百的整数倍" /></p>
    			<div class="con_p">
	    			<p>申请额度</p>
	    			<ul>
	    				<li class="con_li"><span><i>3</i>倍</span><span><i>6</i>元</span></li>
	    				<li><span><i>4</i>倍</span><span><i>8</i>元</span></li>
	    				<li><span><i>5</i>倍</span><span><i>10</i>元</span></li>
	    				<li><span><i>6</i>倍</span><span><i>12</i>元</span></li>
	    				<li><span><i>7</i>倍</span><span><i>14</i>元</span></li>
	    				<li><span><i>8</i>倍</span><span><i>16</i>元</span></li>
	    				<li><span><i>9</i>倍</span><span><i>17</i>元</span></li>
	    				<li><span><i>10</i>倍</span><span><i>20</i>元</span></li>
	    			</ul>
    			</div>
	    		<p><span>单票持仓</span><span>主板100%，创业板100%</span></p>
	    		<p><span>持仓时间</span><span>自动延期</span></p>
	    		<p><span>总配资资金</span><span><i>0</i>元</span></p>
	    		<p><span>亏损警戒线</span><span><i>0</i>元</span></p>
	    		<p><span>亏损平仓线</span><span><i>0</i>元</span></p>
	    		<p><span>风险保障金</span><span><i>0</i>元</span></p>
	    		<p><span>预存管理费</span><span class="fs">非交易日不收取(按月配资除外)</span><span><i>0</i>元/交易日</span></p>
    		</div>
    		<div class="con_s">申请即表示已阅读并同意<a href="#"><<盈股在线配资协议>></a></div>
    		<div class="con_pay">
    			<p class="con_ps">每个合约至少两个交易日，首次申请将扣取1个交易日的管理费</p>
    			<p class="con_spa"><span>共计应支付：</span><span>0</span></p>
    			<p class="con_ps">准备资金=风险保证金+日管理费*天数</p>
    		</div>
    		<div class="con_btn"><input type="button" value="立即申请" /></div>
    	</div>
    	<div class="con_two">
    		<div class="con_list">
    			<p>风险保险金</p>
    		    <p><input type="text" placeholder="最少2百，最多500万，百的整数倍" /></p>
    			<div class="con_p">
	    			<p>申请额度</p>
	    			<ul>
	    				<li class="con_li"><span><i>3</i>倍</span><span><i>6</i>元</span></li>
	    				<li><span><i>4</i>倍</span><span><i>8</i>元</span></li>
	    				<li><span><i>5</i>倍</span><span><i>10</i>元</span></li>
	    				<li><span><i>6</i>倍</span><span><i>12</i>元</span></li>
	    				<li><span><i>7</i>倍</span><span><i>14</i>元</span></li>
	    				<li><span><i>8</i>倍</span><span><i>16</i>元</span></li>
	    				<li><span><i>9</i>倍</span><span><i>17</i>元</span></li>
	    				<li><span><i>10</i>倍</span><span><i>20</i>元</span></li>
	    			</ul>
    			</div>
	    		<p><span>单票持仓</span><span>主板100%，创业板100%</span></p>
	    		<p><span>持仓时间</span><span>自动延期</span></p>
	    		<p><span>总配资资金</span><span><i>0</i>元</span></p>
	    		<p><span>亏损警戒线</span><span><i>0</i>元</span></p>
	    		<p><span>亏损平仓线</span><span><i>0</i>元</span></p>
	    		<p><span>风险保障金</span><span><i>0</i>元</span></p>
	    		<p><span>预存管理费</span><span class="fs">非交易日不收取(按月配资除外)</span><span><i>0</i>元/交易日</span></p>
    		</div>
    		<div class="con_s">申请即表示已阅读并同意<a href="#"><<盈股在线配资协议>></a></div>
    		<div class="con_pay">
    			<p class="con_spa"><span>共计应支付：</span><span>0</span></p>
    			<p class="con_ps">准备资金=风险保证金+日管理费*天数</p>
    		</div>
    		<div class="con_btn"><input type="button" value="立即申请" /></div>
    	</div>
    </div>
<div>
</div>    
    
<div id="footer">
    <ul class="clear">
        <li class="active"><a href="{:url('/index')}"><i></i><span>首页</span></a></li>
        <li><a href="{:url('/stock')}"><i></i>我要配资</a></li>
        <li><a href="{:url('/buy')}"><i></i>我要交易</a></li>
        <li><a href="{:url('/ucenter/home')}"><i></i>账户中心</a></li>
    </ul>
</div>
<script src="./public/stock/js/jquery-1.11.1.min.js" type="text/javascript"></script>
<script src="./public/stock/js/swiper.jquery.min.js" type="text/javascript"></script>
<script>
    var mySwiper = new Swiper('.swiper-container', {
        autoplay : 4000,//可选选项，自动滑动
        loop : true,
        // 如果需要分页器
        pagination : '.swiper-pagination'
    });
</script>
<script>
    $(function(){
        $("#footer li").click(function(){
            $(this).addClass('active').siblings().removeClass('active');
        })
    });

    $(function(){
        $(".con_one .con_p li").click(function(){
            $(this).addClass('con_li').siblings().removeClass('con_li');
            var a=parseInt($(".con_one .con_list p input").val());
            var b=parseInt($(this).children("span").eq(0).find("i").html());
            $(".con_one .con_list>p").eq(4).find("i").html(a*(b+1).toFixed(2));
            $(".con_one .con_list>p").eq(5).find("i").html(a*(b+1)-(a/2).toFixed(2));
            $(".con_one .con_list>p").eq(6).find("i").html((a*1.1*b-a*0.1*(b-3)).toFixed(2));
            $(".con_one .con_list>p").eq(7).find("i").html(a);
            if(b==3){
                $(".con_one .con_list>p").eq(8).find("i").html((a*b*1.8/1000).toFixed(2));
            };
            if(b==4||b==5){
                $(".con_one .con_list>p").eq(8).find("i").html((a*b*2/1000).toFixed(2));
            };
            if(b==6||b==7){
                $(".con_one .con_list>p").eq(8).find("i").html((a*b*2.2/1000).toFixed(2));
            };
            if(b==8||b==9){
                $(".con_one .con_list>p").eq(8).find("i").html((a*b*2.5/1000).toFixed(2));
            };
            if(b==10){
                $(".con_one .con_list>p").eq(8).find("i").html((a*b*2.7/1000).toFixed(2));
            };
            var c=$(".con_one .con_list>p").eq(8).find("i").html();
            var nc=Number(c);
            $(".con_one .con_spa span").eq(1).html(a+nc)

        });

        $(".con_two .con_p li").click(function(){
            $(this).addClass('con_li').siblings().removeClass('con_li');
            var a=parseInt($(".con_two .con_list p input").val());
            var b=parseInt($(this).children("span").eq(0).find("i").html());
            $(".con_two .con_list>p").eq(4).find("i").html(a*(b+1).toFixed(2));
            $(".con_two .con_list>p").eq(5).find("i").html(a*(b+1)-(a/2).toFixed(2));
            $(".con_two .con_list>p").eq(6).find("i").html((a*1.1*b-a*0.1*(b-3)).toFixed(2));
            $(".con_two .con_list>p").eq(7).find("i").html(a);
            if(b==3){
                $(".con_two .con_list>p").eq(8).find("i").html((a*b*1.8/1000).toFixed(2));
            };
            if(b==4||b==5){
                $(".con_two .con_list>p").eq(8).find("i").html((a*b*2/1000).toFixed(2));
            };
            if(b==6||b==7){
                $(".con_two .con_list>p").eq(8).find("i").html((a*b*2.2/1000).toFixed(2));
            };
            if(b==8||b==9){
                $(".con_two .con_list>p").eq(8).find("i").html((a*b*2.5/1000).toFixed(2));
            };
            if(b==10){
                $(".con_two .con_list>p").eq(8).find("i").html((a*b*2.7/1000).toFixed(2));
            };
            var c=$(".con_two .con_list>p").eq(8).find("i").html();
            var nc=Number(c);
            $(".con_two .con_spa span").eq(1).html(a+nc)

        })
    });

    $(function(){
        $(".tab li").click(function(){
            var index=$(this).index();
            $(this).addClass('t_btn').siblings().removeClass('t_btn');
            $(".content>div").eq(index).addClass('dis').siblings().removeClass('dis');

        })
    });

    $(function(){
        //第一个文本框
        $(".con_one .con_list input").bind("input propertychange change",function(event){
            if($(this).val()!=""){
                var _this=this;
                $('.con_one .con_p').addClass('dis_list');
                $(".con_one .con_p li").each(function(){
                    $(this).find("i").eq(1).html(parseInt($(_this).val())*parseInt($(this).find("i").eq(0).html()));

                });
                var a=parseInt($(_this).val());
                var b=parseInt($(".con_one .con_li").find("i").eq(0).html());
                $(".con_one .con_list>p").eq(4).find("i").html(a*(b+1));
                $(".con_one .con_list>p").eq(5).find("i").html(a*(b+1)-(a/2).toFixed(2));
                $(".con_one .con_list>p").eq(6).find("i").html((a*1.1*b-a*0.1*(b-3)).toFixed(2));
                $(".con_one .con_list>p").eq(7).find("i").html(a);
                if(b==3){
                    $(".con_one .con_list>p").eq(8).find("i").html((a*b*1.8/1000).toFixed(2));
                };
                if(b==4||b==5){
                    $(".con_one .con_list>p").eq(8).find("i").html((a*b*2/1000).toFixed(2));
                };
                if(b==6||b==7){
                    $(".con_one .con_list>p").eq(8).find("i").html((a*b*2.2/1000).toFixed(2));
                };
                if(b==8||b==9){
                    $(".con_one .con_list>p").eq(8).find("i").html((a*b*2.5/1000).toFixed(2));
                };
                if(b==10){
                    $(".con_one .con_list>p").eq(8).find("i").html((a*b*2.7/1000).toFixed(2));
                };
                var c=$(".con_one .con_list>p").eq(8).find("i").html();
                var nc=Number(c);
                $(".con_one .con_spa span").eq(1).html(a+nc)

            }else{
                $('.con_one .con_p').removeClass('dis_list');
                $(".con_one .con_list>p").eq(4).find("i").html(0);
                $(".con_one .con_list>p").eq(5).find("i").html(0);
                $(".con_one .con_list>p").eq(6).find("i").html(0);
                $(".con_one .con_list>p").eq(7).find("i").html(0);
                $(".con_one .con_list>p").eq(8).find("i").html(0);
                $(".con_one .con_spa span").eq(1).html(0)
            }
        });
        //第二个文本框
        $(".con_two .con_list input").bind("input propertychange change",function(event){
            if($(this).val()!=""){
                var _this=this;
                $('.con_two .con_p').addClass('dis_list');
                $(".con_two .con_p li").each(function(){
                    $(this).find("i").eq(1).html(parseInt($(_this).val())*parseInt($(this).find("i").eq(0).html()));

                });
                var a=parseInt($(_this).val());
                var b=parseInt($(".con_two .con_li").find("i").eq(0).html());
                $(".con_two .con_list>p").eq(4).find("i").html(a*(b+1));
                $(".con_two .con_list>p").eq(5).find("i").html(a*(b+1)-(a/2).toFixed(2));
                $(".con_two .con_list>p").eq(6).find("i").html((a*1.1*b-a*0.1*(b-3)).toFixed(2));
                $(".con_two .con_list>p").eq(7).find("i").html(a);
                if(b==3){
                    $(".con_two .con_list>p").eq(8).find("i").html((a*b*1.8/1000).toFixed(2));
                };
                if(b==4||b==5){
                    $(".con_two .con_list>p").eq(8).find("i").html((a*b*2/1000).toFixed(2));
                };
                if(b==6||b==7){
                    $(".con_two .con_list>p").eq(8).find("i").html((a*b*2.2/1000).toFixed(2));
                };
                if(b==8||b==9){
                    $(".con_two .con_list>p").eq(8).find("i").html((a*b*2.5/1000).toFixed(2));
                };
                if(b==10){
                    $(".con_two .con_list>p").eq(8).find("i").html((a*b*2.7/1000).toFixed(2));
                };
                var c=$(".con_two .con_list>p").eq(8).find("i").html();
                var nc=Number(c);
                $(".con_two .con_spa span").eq(1).html(a+nc)

            }else{
                $('.con_two .con_p').removeClass('dis_list');
                $(".con_two .con_list>p").eq(4).find("i").html(0);
                $(".con_two .con_list>p").eq(5).find("i").html(0);
                $(".con_two .con_list>p").eq(6).find("i").html(0);
                $(".con_two .con_list>p").eq(7).find("i").html(0);
                $(".con_two .con_list>p").eq(8).find("i").html(0);
                $(".con_two .con_spa span").eq(1).html(0)
            }
        });
    });
</script>
</body>
</html>