<div class="foot">
    <div class="wrapper clearfix">
    <div class="foots">
             <div class="footTel">
                <div class="footTel-top">
                    <img src="__STATIC__/home/img/foot-shares.png" alt="">
                    <span>股票配资</span>
                </div>
                <div class="footTel-links">
                    <p><a href="./PcBuyDay">按天配资申请</a></p>
                    <p><a href="./PcBuyMonth">按月配资申请</a></p>
                    <!-- <p><a href="./">按周配资申请</a></p> -->
                    <p><a href="./PcBuyFree">免息配资申请</a></p>
                </div>

            </div>
            <div class="footTel">
                <div class="footTel-top">
                    <img src="__STATIC__/home/img/foot-guide.png" alt="">
                    <span>配资利息讲解</span>
                </div>
                <div class="footTel-links">
                    <p><a href="./atlxjj">按天利息讲解</a></p>
                    <!-- <p><a href="/aboutus/azlxjj.html">按周利息讲解</a></p> -->
                    <p><a href="./aylxjj">按月利息讲解</a></p>
                    <p><a href="./mxlxjj">免息配资讲解</a></p>


                </div>

            </div>
            <div class="footTel">
                <div class="footTel-top">
                    <img src="__STATIC__/home/img/foot-offi.png" alt="">
                    <span>尚牛微信</span>
                </div>
                <div class="footTel-links">
                    <p></p><p><img style="float: none; margin: 0px" alt=""width="100%" src="__STATIC__/home/img/20170626180649.png"></p><p></p>
                </div>

            </div>
            <div class="footTel">
                <div class="footTel-top">
                    <img src="__STATIC__/home/img/foot-offi.png" alt="">
                    <span>尚牛公众号</span>
                </div>
                <div class="footTel-links">
                    <p></p><div><img style="float: none; margin: 0px" width="100% "alt="" src="__STATIC__/home/img/20170816183336.png"></div><p></p>
                </div>

            </div>
            <div class="footTel">
                <div class="footTel-top">
                    <img src="__STATIC__/home/img/foot-help.png" alt="">
                    <span>新手帮助中心</span>
                </div>
                <div class="footTel-links">
                    <p><a href="./rhzchy">如何注册会员</a></p>
                    <p><a href="./rhsmrz">如何实名认证</a></p>
                    <p><a href="./rhjxcz">如何进行充值</a></p>
                    <p><a href="./rhsqpz">如何申请配资</a></p>

                </div>

            </div>
          
        </div>
    </div>
</div>
	