<nav class="ml_tab mui-bar mui-bar-tab">
			<a class="mui-tab-item " href="{:url('/index')}">
				<span class="mui-icon mui-icon-home"></span>
				<span class="mui-tab-label">首页</span>
			</a>
			<a class="mui-tab-item " href="{:url('/stock')}">
				<span class="mui-icon mui-icon-phone"></span>
				<span class="mui-tab-label">我要配资</span>
			</a>
			<a class="mui-tab-item" href="{:url('/invite')}">
				<span class="mui-icon mui-icon-postion"></span>
				<span class="mui-tab-label">我要推广</span>
			</a>
			<a class="mui-tab-item" href="{:url('/buy')}">
				<span class="mui-icon mui-icon-stock"></span>
				<span class="mui-tab-label">我要交易</span>
			</a>
			<a class="mui-tab-item mui-active" href="{:url('/ucenter/home')}">
				<span class="mui-icon mui-icon-email"></span>
				<span class="mui-tab-label" id="abc">账户中心</span>
			</a>
		</nav>